/* Leaflet CSS fix */
@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

.leaflet-container {
    width: 100%;
    height: 100%;
    background: #0050b3;
}

/* Fix for marker icons */
.leaflet-default-icon-path {
    background-image: url('https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png');
}

/* Custom marker styles */
.custom-marker {
    background: transparent !important;
    border: none !important;
}

.custom-marker>div {
    display: flex;
    align-items: center;
    justify-center: center;
}